<div class="content">
  <div class="login-container">
    <h2 class="page-top-text">ログイン</h2>
    <%= render "shared/flash" %>

    <div class="guest-login-button-wrap">
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "guest-login-button", method: :post %>
    </div>
    <div class="border-line"><span class="border-line-text">または</span></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="label-wrap">
          <%= f.label :email %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field form-input" %>
      </div>

      <div class="field">
        <div class="label-wrap">
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class: "text-field form-input" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: 'submit-btn' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
