<div class="wrap-container">
  <div class="restaurant-container font-size-S">
    <div>
      以下のお店は既に登録されています。</br>
      さっそくお店の口コミを投稿してみましょう。
    </div>
    <h3>
      <div class="font-size-M">
        <i class="fa-solid fa-shop"></i>
        <%= "飲食店名: #{@restaurant.name}" %>
      </div>
    </h3>
    <div>
      <i class="fa-solid fa-map-location-dot"></i>
      <%= "住所: #{@restaurant.address}" %>
    </div>
    <%= link_to new_restaurant_review_path(@restaurant) do %>
      <div class="guide-assist-button font-size-M">
        口コミを投稿する
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    <% end %>
    <%= link_to "キャンセル", :back, class: "back-button font-size-M" %>
    <div id='map'></div>
  </div>
</div>

<style>
  #map {
    width: 100%;
    height: 300px;
  }  
</style>

<script>
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
