<% if @reviews.present? %>
  <div class="review-box-container">
    <% @reviews.each do |review| %>
      <div class="review-box">
        <%= link_to restaurant_review_path(review.restaurant_id, review) do %>
          <div>
            <% if review.image.present? %>
              <div class="menu-image border-image">
                <%= image_tag review.image, class: "menu-image border-image" %>
              </div>
            <% else %>
              <div class="menu-image no-image border-image">NO IMAGE</div>
            <% end %>
          </div>
          <div class="review-content my-page-review-card-padding">
            <div class="font-brown"><%= review.menu %></div>
            <div class="menu-price"><%= "¥ #{review.price}" %></div>
            <div class="tag-container">
              <% review.genres.each do |genre| %>
                <div class="tag genre-tag"><%= genre.name %></div>
              <% end %>
              <% review.feedback_options.each do |feedback_option| %>
                <div class="tag feedback-tag"><%= feedback_option.option_title %></div>
              <% end %>
            </div>
            <div class="like-button-container">
              <div><i class="fa-solid fa-heart"></i></div>
              <div class="review-likes-count"><%= review.likes.count %></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="no-lists">投稿した口コミはまだありません。</div>
<% end %>
