<%= render "shared/flash" %>
<div class="wrap-container">
  <h2 class="first-view-title">ローカルグルメ</h2>
  <p class="service-overview">
    <span>
      ローカルグルメは<br>
      飲食店の口コミ共有サービスです。<br>
      発見したお店を<br>
      ぜひローカルグルメでシェアしてください。
    </span>
  </p>
</div>

<div class="rank-container">
  <% if @restaurants.present? %>
    <div class="rank-title">
      <div class="bookmark-button white-color">
        ブックマーク<i class="fas fa-bookmark"></i>
      </div>
      の獲得数が多いお店のランキング
    </div>
    <div>
      <% @restaurants.each.with_index(1) do |restaurant, i| %>
        <div class="restaurant_card rank-card">
          <%= link_to restaurant_path(restaurant) do %>
            <div class="rank-element">
              <i class="fa-solid fa-crown"></i>
              <%= "No. #{i}" %>
            </div>
            <div class="restaurant-name-in-card">
              <i class="fa-solid fa-shop"></i>
              <%= restaurant.name %>
            </div>
            <div class="restaurant-address">
              <i class="fa-solid fa-map-location-dot"></i>
              <%= restaurant.address %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="home-guide-container">
  <p class="home-guide-top-title">アプリの使い方に関するガイド</p>
  <div>
    <div class="home-guide-sub-element">
      <i class="fa-solid fa-magnifying-glass sub-element-icon"></i>
      <span class="home-guide-sub-title">お店を検索</span>
    </div>
    <p>
      <%= link_to restaurants_path, class: "home-guide-link" do %>
        <span>検索</span>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      ページから駅や商業施設などの名前で検索してみましょう。
    </p>
    <p>
      ローカルグルメで登録されたお店の口コミを見て行きたいお店を見つけましょう。
    </p>
    <p>
      行きたいお店はマイページにブックマークとして保存することができます。
    </p>
    <div class="guide-button-wrap">
      <div class="guide-button">
        <%= link_to restaurants_path do %>
          <div class="guide-button-text">お店を見つける<i class="fa-solid fa-arrow-right"></i></div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="home-guide-sub-element">
      <i class="fa-solid fa-pen-to-square sub-element-icon"></i>
      <span class="home-guide-sub-title">お店を評価</span>
    </div>
    <p>
      <%= link_to restaurant_registered_statuses_path, class: "home-guide-link" do %>
        <span>口コミ投稿</span>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      ページからあなたの行きつけのお店を登録しましょう。
    </p>
    <p>
      お店の口コミを投稿してみましょう。
    </p>
    <div class="guide-button-wrap">
      <div class="guide-button">
        <%= link_to restaurant_registered_statuses_path do %>
          <div class="guide-button-text">口コミを投稿する<i class="fa-solid fa-arrow-right"></i></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
