<h2>お店を探す</h2>
<%= link_to '地図から探す', restaurants_path %>
<%= link_to '口コミから探す', '#' %>
<div>
<input id="address" type="textbox" placeholder="駅や施設名で検索">
<input type="button" value="検索" onclick="codeAddress()">
</div>
<div id='map'></div>

<style>
#map {
  height: 400px;
  width: 300px;
}
</style>

<script>
let map
let marker
const latlngDis = document.getElementById('latlngDisplay')
const addressDis = document.getElementById('addressDisplay')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,  
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.6813, lng:139.767066},
    map: map
  });

    <% @restaurants.each do |restaurant|%>
      ( function() { 
        let markerLatLng = { lat: <%= restaurant.lat %>, lng: <%= restaurant.lng %> }; // 緯度経度のデータ作成
        let marker = new google.maps.Marker({ 
          position: markerLatLng, 
          map: map 
        });
        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          content: "<a href='<%= restaurant_url(restaurant.id) %>' target='_blank'><%= restaurant.name %></a>"
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
}

let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      if (aft == true){
          marker.setMap(null);
      }

      map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
      });

      aft = true

      document.getElementById('lat').value = results[0].geometry.location.lat();
      document.getElementById('lng').value = results[0].geometry.location.lng();

      google.maps.event.addListener( marker, 'dragend', function(ev){
        document.getElementById('lat').value = ev.latLng.lat();
        document.getElementById('lng').value = ev.latLng.lng();
      });

      latlngDis.innerHTML = results[0].geometry.location;

      geocoder.geocode({ 'location': marker.getPosition()}, function(results, status) {
        if (status == "OK"){
          addressDis.innerHTML = results[0].formatted_address.slice(13);
          areaDis.innerHTML = results[0].plus_code.compound_code.slice(11);
        } else {
          alert("Geocode 取得に失敗しました：" + status);
        }
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
