<div class="wrap-container">
  <div class="restaurant-top-elements">
    <%= link_to :back, class: "back-arrow dark-brown font-size-S" do %>
      <i class="fa-solid fa-arrow-left"></i>
      <span>戻る</span>
    <% end %>
    <h2 class="font-size-L">お店の詳細</h2>
    <h3 class="font-size-M">
      <i class="fa-solid fa-shop"></i>
      <%= @restaurant.name %>
    </h3>
    <div class="font-size-S">
      <i class="fa-solid fa-map-location-dot"></i>
      <%= @restaurant.address %>
    </div>
  </div>
  <div class="right-side-element">
    <% if user_signed_in? %>
      <%= render 'shared/bookmark_button', restaurant: @restaurant %>
    <% end %>
  </div>
  <div class="center-block">
    <div id='map'></div>
  </div>
  <h3 class="review-top-title center-block font-size-L dark-brown">お店の口コミ</h3>
  <div class="review-button-wrap">
    <div class="post-review-button">
      <%= link_to "口コミを投稿する→", new_restaurant_review_path(@restaurant), class: "post-review-link font-size-M" %>
    </div>
  </div>

  <div class="review-box-container">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="review-box">
          <%= link_to restaurant_review_path(@restaurant, review) do %>
            <div class="center-image">
              <% if review.image.present? %>
                <div class="menu-image border-image">
                  <%= image_tag review.image, class: "menu-image border-image" %>
                </div>
              <% else %>
                <div class="menu-image no-image border-image">NO IMAGE</div>
              <% end %>
            </div>
            <div class="review-content">
              <div class="font-brown font-size-M"><%= review.menu %></div>
              <div class="menu-price font-size-S"><%= "¥ #{review.price}" %></div>
              <div class="tag-container">
                <% review.genres.each do |genre| %>
                  <div class="tag genre-tag font-size-S"><%= genre.name %></div>
                <% end %>
                <% review.feedback_options.each do |feedback_option| %>
                  <div class="tag feedback-tag font-size-S"><%= feedback_option.option_title %></div>
                <% end %>
              </div>
              <div class="review-card-bottom-wrap">
                <div class="review-user">
                  <div><%= image_tag review.user.avatar, class: "review-user-icon" %></div>
                  <div class="review-user-name font-size-S"><%= review.user.name %></div>
                </div>
                <% if user_signed_in? %>
                  <% if current_user.own?(review) %>
                    <div class="like-button-container font-size-M">
                      <div><i class="fa-solid fa-heart"></i></div>
                      <div class="review-likes-count"><%= review.likes.length %></div>
                    </div>
                  <% else %>
                    <div id="like_buttons_<%= review.id %>" class="like-button-container font-size-M">
                      <%= render 'shared/like_button', review: review %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      お店の口コミはまだありません。
    <% end %>
  </div>
</div>

<style>
#map {
  height: 300px;
  width: 400px;
}
</style>

<script>
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
      map: map
    });
  };

  window.onpageshow = function(event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
