<div class="wrap-container">
  <%= render "shared/flash" %>
  <h3 class="restaurant-elements"><%= "飲食店名: #{@restaurant.name}" %></h3>
  <div class="restaurant-elements"><%= "住所: #{@restaurant.address}" %></div>
  <div class="right-side-element">
    <%= render 'shared/bookmark_button', restaurant: @restaurant %>
  </div>
  <div class="center-block">
    <div id='map'></div>
  </div>
  <h3 class="review-top-title center-block">お店の口コミ</h3>
  <div class="review-button-wrap">
    <div class="post-review-button">
      <%= link_to "口コミを投稿する→", new_restaurant_review_path(@restaurant), class: "post-review-link" %>
    </div>
  </div>

  <div class="review-box-container">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="review-box">
          <%= link_to restaurant_review_path(@restaurant, review) do %>
            <div>
              <% if review.image.present? %>
                <div class="menu-image border-image">
                  <%= image_tag review.image, class: "menu-image border-image" %>
                </div>
              <% else %>
                <div class="menu-image no-image border-image">NO IMAGE</div>
              <% end %>
            </div>
            <div class="review-content">
              <div class="font-brown"><%= review.menu %></div>
              <div class="menu-price"><%= "¥ #{review.price}" %></div>
              <div class="tag-container">
                <% review.genres.each do |genre| %>
                  <div class="tag genre-tag"><%= genre.name %></div>
                <% end %>
                <% review.feedback_options.each do |feedback_option| %>
                  <div class="tag feedback-tag"><%= feedback_option.option_title %></div>
                <% end %>
              </div>
              <div class="review-card-bottom-wrap">
                <div class="review-user">
                  <div><%= image_tag review.user.avatar, class: "review-user-icon" %></div>
                  <div class="review-user-name"><%= review.user.name %></div>
                </div>
                <% if current_user.own?(review) %>
                  <div class="like-button-container">
                    <div><i class="fa-solid fa-heart"></i></div>
                    <div class="review-likes-count"><%= review.likes.length %></div>
                  </div>
                <% else %>
                  <div id="like_buttons_<%= review.id %>" class="like-button-container">
                    <%= render 'shared/like_button', review: review %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      お店の口コミはまだありません。
    <% end %>
  </div>
</div>

<style>
#map {
  height: 300px;
  width: 400px;
}
</style>

<script>
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
      map: map
    });
  };

  window.onpageshow = function(event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
