<h2><%= "#{@restaurant.name}の口コミ投稿画面" %></h2>

<%= form_with model: @review, url: restaurant_reviews_path, local: true do |f| %>
  <div>
    口コミを投稿するお店の名前<br>
    <%= @restaurant.name %>
  </div>
  <div>
    <%= f.label :menu, "注文したメニュー" %><br>
    <%= f.text_field :menu %>
  </div>
  <div>
    <%= f.label :price, "料金" %><br>
    <span>¥</span>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.label :visit_date, "ご利用日" %><br>
    <%= f.select :visit_date, [["平日", "平日"], ["土日", "土日"]] %>
  </div>
  <div>
    <%= f.label :visit_time, "ご利用時間帯" %><br>
    <%= f.select :visit_time, [["ランチ", "ランチ"], ["ディナー", "ディナー"]] %>
  </div>
  <div>
    <%= f.label :number_of_visitors, "ご利用人数" %><br>
    <%= f.number_field :number_of_visitors %>
    <span>人</span>
  </div>
  <div>
    <%= f.label :genres, "ジャンル" %><br>
    <%= collection_check_boxes(:review, :genre_ids, Genre.all, :id, :name) do |genre| %>
      <%= genre.label { genre.check_box + genre.text } %>
    <% end %>
  </div>
  <div>
    <%= f.label :feedback_options, "お店の雰囲気・特徴・評価ポイントなど" %><br>
    <%= collection_check_boxes(:review, :feedback_option_ids, FeedbackOption.all, :id, :option_title) do |option| %>
      <%= option.label { option.check_box + option.text } %>
    <% end %>
  </div>
  <div>
    <%= f.label :comment, "コメント" %><br>
    <%= f.text_area :comment %>
  </div>
  <div>
    <%= f.hidden_field :user_id, value: current_user.id %><br>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  </div>
  <%= f.submit "上記内容で口コミを投稿する" %>
<% end %>
