<div class="content">
  <div class="registration-container">
    <h2 class="page-top-text">ユーザー登録</h2>
    <%= render "users/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <div class="label-wrap">
          <%= f.label :name %>
        </div>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "text-field form-input" %>
      </div>

      <div class="field">
        <div class="label-wrap">
          <%= f.label :email %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field form-input" %>
      </div>

      <div class="field">
        <div class="label-wrap">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 桁以上)
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "text-field form-input" %>
      </div>

      <div class="field">
        <div class="label-wrap">
          <%= f.label :password_confirmation %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field form-input" %>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: 'submit-btn' %>
      </div>
    <% end %>

    <div class="guide_wrap">
      <%= link_to 'ログインページへ', new_user_session_path, class: "guide-link" %>
    </div>
  </div>
</div>
